# Byte-compiled / optimized / DLL files
__pycache__/

# Virtual environments
venv/

# Data files not to be uploaded
*.pnggit 
*.jpg
*.xlsx
*.yaml

# Jupyter Notebook
*.ipynb
.ipynb_checkpoints

Split/*.yaml
